.Gallery {
  text-align: center;
}

.Gallery-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
}

.Gallery-link {
  color: #61dafb;
}

@keyframes Gallery-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.products {
  list-style: none;
  padding-left: 0;
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 30px;
}


.products li {
  display: flex;
  align-items: center;
  border: solid 2px #d0d0d0;
  border-radius: 10px;
}

.products .item-0{
  border: 5px solid blue;
  grid-area: 1 / 1 / 3 / 3;
}

.products p {
  max-width: none;
  font-weight: bold;
  margin: 0;
}

.products-thumb {
  border: 1px solid blue;
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;

}

.products-thumb img {
  display: block;
  width: 100%;
  height: auto;
}