/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(193, 184, 184);
    gap: 0 !important;
    
}


.top-bar{
    background-color: white;
    width: 80%;
}
.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 1fr 1fr 1fr;
    gap: 30px;
    cursor: pointer;
    background-color: white;
    padding: 40px;
    font-size: 25px;
    border-radius: 15px;
}


.item {
    /* background: var(--bg-colour); */
    border: 1px solid rgb(142, 147, 180);
    box-shadow: 0px 4px 3px rgba(152, 139, 139, 0.1);
    border-radius: 10px;
    position: relative;
    width: 100%;
}

.item img {
    width: 100%;
    border-radius: 10px;
}

.item .checkbox{
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 1;
    margin: 20px;
    display: none;
}


.item:hover img{
    mask-image: linear-gradient(to bottom, rgba(189, 35, 35, 0.5) 50%, rgba(241, 19, 19, 0.65) 50%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(173, 8, 8, 0.5) 50%, rgba(229, 21, 21, 0.65) 50%);
}

.item .active{
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 1;
    margin: 20px;
    display: flex;
}

.item:hover .checkbox{
    display: flex;
}



.top-left-bar{
    grid-area: 1 / 1 / 1 / 4;
    display: flex;
    justify-content: left;
    align-items: center;
}

.top-right-bar {
    grid-area: 1 / 4 / 1 / 6;
    display: flex;
    justify-content: right;
    align-items: center;
    color: red;
    font-size: 20px;
}

.item-0 {
    grid-area: 2 / 1 / 4 / 3;
}

.add-images{
    border: 1px solid rgb(142, 147, 180);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.add-images img{
    width: 30px;
    height: auto;
}